 <div class="center jumbotron">
  <h1>EVENTBRITE LIKE</h1>
  <h3>
    Créer, rejoint, partage des évènements trop cool
  </h3>
  <%= link_to 'Connecte toi', login_path, class: "btn btn-lg btn-primary" %>

  <%= link_to 'Enregistre toi', signup_path, class: "btn btn-lg btn-primary" %><br><br>

  <h5>"Tout bien que tu detiens est un souci qui te retiens et Skippy est la pour nous hoter tout nos soucis..."</h5>
</div>